main {
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width: 800px;
	height: 500px;
	font-size: 0;
	border: 1px solid black;
}

.box {
	display: inline-block;
	font-size: 0
}

.green, .blue {
	height: 40%;
	width: 50%;
 }

.grey, .black, .yellow {
	width: 33.3%;
	height: 60%;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: grey;
}

.black {
	background-color: black;
}

.yellow {
	background-color: yellow;
}
